.gamecontainer{
    display: grid;
    grid-template-columns: repeat(15, 40px); /* Change 20 to the number of columns you want */
    grid-template-rows: repeat(15, 40px); /* Change 20 to the number of rows you want */
    border: 5px solid #333;
    height: 600px;
    width: 600px;
    /* background-color: greenyellow; */
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* .griditem{
    border: 0.1px solid black;
} */
.even{
    background-color: #77fc03;
}
.odd{
    background-color: #03fc2d;
}
